* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 228, 196);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  margin-top: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper-list-ships {
  display: flex;
  flex-direction: column;
  margin: 60px;
  height: 430px;
  width: 200px;
  background-color: rgb(255, 247, 238);
  line-height: 1.8rem;
  text-align: center;
  padding: 20px;
}
.ship-list {
  padding: 10px;
}

.wrapper-list-ships li {
  list-style: none;
}
.wrapper-list-ships .placing {
  font-weight: bold;
}
.wrapper-list-ships .placed {
  display: none;
}

.wrapper-list-ships :hover {
  cursor: pointer;
}

.wrapper .btn {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: red;
}

.wrapper .btn:hover {
  cursor: pointer;
  background-color: green;
}
.field {
  width: 430px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 60px;
}
.field h2 {
  display: block;
}
.field .grid {
  display: flex;
  background-color: #0099ff;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
}
.cell {
  display: inline-block;
  height: 38px;
  width: 38px;
  margin: 1px;
  background-color: #fff;
}
.placed-ship {
  background-color: cadetblue;
}
.field-ship {
  background-color: lightblue;
}
.field-hit {
  background-color: red;
}
.field-miss {
  background-color: lightgrey;
}
.field-sunk {
  background-color: black;
}
.field .computer-grid .cell:hover {
  background-color: cadetblue;
}
.hidden {
  display: none;
}
.visible {
  padding: 5px;
  background-color: blue;
  color: #fff;
  border-radius: 5px;
}
footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .sign {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .sign i {
  padding: 10px;
  opacity: 0.3;
  color: #0099ff;
}
footer .sign p {
  opacity: 0.3;
  color: #0099ff;
  text-align: center;
}
