* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: bisque; }

.wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 20px; }

  .wrapper .wrapper-list-ships {
    margin: 20px;
    height: 440px;
    width: 200px;
    border: 1px solid red;
    line-height: 2rem;
    padding: 10px;
    text-align: center; }

    .wrapper .wrapper-list-ships .ship-list {
      padding: 20px 20px 0 20px; }

      .wrapper .wrapper-list-ships .ship-list li {
        list-style: none; }

      .wrapper .wrapper-list-ships .ship-list:hover {
        cursor: pointer; }
        
  .wrapper #start-game {
    padding: 3px 10px;
    border-radius: 5px;
    background-color: red; }
    .wrapper #start-game:hover {
      cursor: pointer;
      background-color: green; }
  .wrapper .direction {
    padding: 3px 10px;
    border-radius: 5px;
    background-color: red; }
    .wrapper .direction:hover {
      cursor: pointer;
      background-color: green; }
  .wrapper .field {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px; }
    .wrapper .field h2 {
      display: block; }
    .wrapper .field .grid {
      display: flex;
      background-color: #0099ff;
      width: 400px;
      height: 400px;
      flex-wrap: wrap; }
      .wrapper .field .grid .cell {
        display: inline-block;
        height: 38px;
        width: 38px;
        margin: 1px;
        background-color: #fff; }
      .wrapper .field .grid .placed-ship {
        background-color: cadetblue; }
      .wrapper .field .grid .field-ship {
        background-color: lightblue; }
    .wrapper .field .computer-grid .cell:hover {
      background-color: cadetblue; }
